h1 My Site 大家好
p Welcome to my super lame site. 歡迎來到我的超簡單網站。
p.hello Pug source code! 這裡是藍色的字
img(src=require('../images/cat-large-photo.jpeg'))
img(src=require('../images/camera.svg'))
img(src=require('../images/deer.png'))
img(src=require('../images/dog.jpeg'))
img(src=require('../images/pikachu.gif'))
include foot.pug