doctype html
html
  head
    title My Site
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="My Site")
    meta(name="author" content="KilluaZDK")

  body
    //- nav
    nav.nav
      .nav_content
        .nav_right
          img(src=require("./images/nav_logo.svg"))
        label
          input#nav_switch(type="checkbox")
          .nav_humburger
            hr
            hr
            hr
          .nav_left
            .nav_text About
            .nav_text Works
            .nav_text Contact
        

    //- header
    header.header
      .header_content
        //- 上方圖logo 圖片區
        .header_top
          img.header_top_logo(src=require("./images/header_logo_illustration.svg"))
          img.header_top_name(src=require("./images/header_logo_name.svg"))
        //- 下方文字區
        .header_middle
          .header_middle_content
            .header_middle_title 熱愛自學，永遠不會失去追求新知的熱情
            .header_middle_text 從 0 開始自學日文通過日語檢定 N1。希望有天能取得獵人執照。
          .header_middle_content
            .header_middle_title 美感和視覺設計是一種免費的行銷
            .header_middle_text.large_screen 喜歡追求美的事物，並結合過去行銷的背景及經驗，
            .header_middle_text.large_screen 將品牌、美感及實用性上，取得一個完美的平衡點。
            .header_middle_text.small_screen 喜歡追求美的事物，並結合過去行銷的背景及經驗，將品牌、美感及實用性上，取得一個完美的平衡點。
            //- 按鈕
            img.header_bottom_button(src=require("./images/header_button.svg"))

    //- about
    .about.container
      .container_title About
      //- 教育程度、技能、證書
      .about_group
        //- 教育程度
        .about_top_content.education
          .about_top_title
            .about_top_title_line
              hr
              hr
              hr
            .about_top_title_text 教育程度
          .about_top_image
            img(src=require("./images/about_title_education.svg"))
          .about_top_detail
            .about_top_detail_wrapper  
              .about_top_detail_cross +
              .about_top_detail_content
                .about_top_detail_content_block
                  .about_top_detail_content_block_top
                    p.chinese 世新大學
                    .year_wrapper
                      p.year 2009 - 2013
                  .about_top_detail_content_block_botton
                    p.english SHIH HSIN UNIVERSITY
            .about_top_detail_wrapper  
              .about_top_detail_cross.none +
              .about_top_detail_content
                .about_top_detail_content_block
                  .about_top_detail_content_block_top
                    p.chinese 傳播管理學系
                  .about_top_detail_content_block_botton
                    p.english Department of Communications Management
        //- 技能
        .about_top_content.skills
          .about_top_title
            .about_top_title_line
              hr
              hr
              hr
            .about_top_title_text 技能
          .about_top_image
            img(src=require("./images/about_title_skills.svg"))
          .about_top_detail
            .about_top_detail_content
              .about_top_detail_content_block
                pre.about_top_detail_content_block_row + 日文翻譯
                pre.about_top_detail_content_block_row + 平面設計
                pre.about_top_detail_content_block_row + 整合行銷
                pre.about_top_detail_content_block_row + 社群行銷
                pre.about_top_detail_content_block_row + UI 設計
              .about_top_detail_content_block
                pre.about_top_detail_content_block_row + Sketch
                pre.about_top_detail_content_block_row + Adobe XD
                pre.about_top_detail_content_block_row + Adobe illustrator
                pre.about_top_detail_content_block_row + Adobe Photoshop
                pre.about_top_detail_content_block_row + HTML / CSS
        //- 證書
        .about_top_content.certificate
          .about_top_title
            .about_top_title_line
              hr
              hr
              hr
            .about_top_title_text 證書
          .about_top_image
            img(src=require("./images/about_title_certificate.svg"))
          .about_top_detail
            .about_top_detail_wrapper  
              .about_top_detail_cross +
              .about_top_detail_content
                .about_top_detail_content_block
                  .about_top_detail_content_block_top
                    p.chinese 日本語能力試驗
                    .year_wrapper
                      p.year 2019  JUL
                  .about_top_detail_content_block_botton
                    p.english JLPT N1
      //- 工作經歷
      .about_group
        .about_top_content.experience
          .about_top_title
            .about_top_title_line
              hr
              hr
              hr
            .about_top_title_text 工作經歷
          .about_top_image
            img(src=require("./images/about_title_experience.svg"))
          //- 整合行銷企劃＿標題
          .about_marketing_title_wrapper
            .about_marketing_title_wrapper_block
              p.cross +
              p.title 整合行銷企劃
            .year_wrapper 
              p.year 2013 -2021
          //- 六張圖片
          .about_marketing_container
            //- 毛天使
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_1.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 毛天使
                  pre.sort / 寵物清潔用品
                .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、展場規劃與設計、行銷文案
            //- 欣湛
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_2.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 欣湛
                  pre.sort / 居家清潔用品
                .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
            //- 瑪莉雅之吻
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_3.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 瑪莉雅之吻
                  pre.sort / 婦嬰清潔用品
                .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
            //- Conti
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_4.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name Conti
                  pre.sort / 球類運動品牌
                .about_marketing_content_detail FB 社群經營、平面廣告設計、捷運燈箱及公車廣告設計
            //- 聯維
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_5.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 聯維
                  pre.sort / 有線電視公司
                .about_marketing_content_detail FB 社群經營、行銷活動企劃與執行
            //- 經濟部
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_6.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 經濟部
                  pre.sort / 雲端創新應用服務競賽
                .about_marketing_content_detail 活動主辦、宣傳物設計
            //- 雅莉珊卓
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_7.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 雅莉珊卓
                  pre.sort / 身體洗淨系列用品
                .about_marketing_content_detail 包裝設計
            //- 富盛豐
            .about_marketing_block
              .about_marketing_picture
                img(src=require("./images/about_cover_8.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 富盛豐
                  pre.sort / 洗淨系列品牌
                .about_marketing_content_detail 官網 Banner 設計
            //- 第九區塊 偽區塊
            .about_marketing_block.fake_block
              .about_marketing_picture
                img(src=require("./images/about_cover_1.svg"))
              .about_marketing_content
                .about_marketing_content_title_wrapper
                  p.name 偽區塊
                  pre.sort / 偽品牌
                .about_marketing_content_detail 偽設計
          //- 其他_標題
          .about_other
            .about_other_block
              .about_other_block_container
                .about_other_block_cross +
                .about_other_block_detail_wrapper
                  .about_other_block_detail_title_wrapper
                    pre.about_other_block_detail_title 日文文書翻譯
                  .about_other_block_detail_year_wrapper 
                    p.year.width 2021
              .about_other_block_container
                .about_other_block_cross.none +
                .about_other_block_detail_text 企業內部文書等案件翻譯。
            .about_other_block
              .about_other_block_container
                .about_other_block_cross +
                .about_other_block_detail_wrapper
                  .about_other_block_detail_title_wrapper
                    pre.about_other_block_detail_title 世新大學 傳播管理學系
                    pre.about_other_block_detail_title 高中營 Photoshop 講師
                  .about_other_block_detail_year_wrapper 
                    p.year 2013、2014
              .about_other_block_container
                .about_other_block_cross.none +
                .about_other_block_detail_text 用比較有趣、貼近大家生活的方式，教高中生們 Photoshop 的基礎技巧。
            .about_other_block
              .about_other_block_container
                .about_other_block_cross +
                .about_other_block_detail_wrapper
                  .about_other_block_detail_title_wrapper
                    pre.about_other_block_detail_title 世新大學 傳播管理學系
                    pre.about_other_block_detail_title 基礎日文 助教
                  .about_other_block_detail_year_wrapper 
                    p.year 2011 - 2012
              .about_other_block_container
                .about_other_block_cross.none +
                .about_other_block_detail_text 協助課堂教師上課事宜。
    //- works
    .works.container
      .container_title Works
      //- works 上方標題文字及圖片
      .works_title_block
        .works_title_wrapper
          .works_title_line
            hr
            hr
            hr
          .works_title_text 作品集
        .works_title_image
          img(src=require("./images/works_title_works.svg"))
      //- 毛天使
      .works_block
        .works_block_title_wrapper
          .works_block_title_cross ＋
          .works_block_title_name 毛天使
          pre.works_block_title_sort / 寵物清潔用品
        label
          input#switch(type="checkbox")
          .label_wrapper.brand_petangel
            .works_block_content
              .works_block_content_title 包裝設計
              .works_block_content_image_wrapper
                img(src=require("./images/petangel_product_1.svg"))
                img(src=require("./images/petangel_product_2.svg"))
                img(src=require("./images/petangel_product_3.svg"))
                img(src=require("./images/petangel_product_4.svg"))
                img(src=require("./images/petangel_product_5.svg"))
                img(src=require("./images/petangel_product_6.svg"))
                img(src=require("./images/petangel_product_7.svg"))
                img(src=require("./images/petangel_product_8.svg"))
                img(src=require("./images/petangel_product_9.svg"))
                img(src=require("./images/petangel_product_10.svg"))
                img(src=require("./images/petangel_product_11.svg"))
                img(src=require("./images/petangel_product_12.svg"))
                img(src=require("./images/petangel_product_13.svg"))
                img(src=require("./images/petangel_product_14.svg"))
                img(src=require("./images/petangel_product_15.svg"))
                img(src=require("./images/petangel_product_16.svg"))
                img(src=require("./images/petangel_product_17.svg"))
                img(src=require("./images/petangel_product_18.svg"))
                img(src=require("./images/petangel_product_19.svg"))
                img(src=require("./images/petangel_product_20.svg"))
                img(src=require("./images/petangel_product_21.svg"))
                //- 偽圖片
                img.fack_picture.petangel(src=require("./images/petangel_product_21.svg"))
                img.fack_picture.petangel(src=require("./images/petangel_product_21.svg"))
                img.fack_picture.petangel(src=require("./images/petangel_product_21.svg"))
            .works_block_content
              .works_block_content_title 型錄設計
              .works_block_content_image_wrapper
                img(src=require("./images/petangel_1.png"))
                img(src=require("./images/petangel_2.png"))
                img(src=require("./images/petangel_3.png"))
                img(src=require("./images/petangel_4.png"))
            .works_block_content
              .works_block_content_title 名片、LOGO 設計
              .works_block_content_image_wrapper.typesetting_start.img_small_height
                img(src=require("./images/petangel_card.png"))
                img(src=require("./images/petangel_logo.png"))
          pre.works_more_button More
      //- 欣湛
      .works_block
        .works_block_title_wrapper
          .works_block_title_cross ＋
          .works_block_title_name 新湛
          pre.works_block_title_sort / 居家清潔用品
        label
          input#switch(type="checkbox")
          .label_wrapper.brand_cleaner
            .works_block_content
              .works_block_content_title 消臭系列包裝設計
              .works_block_content_image_wrapper.typesetting_start
                img(src=require("./images/cleaner_1.png"))
                img(src=require("./images/cleaner_2.png"))
                img(src=require("./images/cleaner_3.png"))
            .works_block_content
              .works_block_content_title 居家清潔系列包裝設計
              .works_block_content_image_wrapper.typesetting_start
                img(src=require("./images/cleaner_4.png"))
                img(src=require("./images/cleaner_5.png"))
                img(src=require("./images/cleaner_6.png"))
                img(src=require("./images/cleaner_7.png"))
                img(src=require("./images/cleaner_8.png"))
                img(src=require("./images/cleaner_9.png"))
                img(src=require("./images/cleaner_10.png"))
          pre.works_more_button More
      //- 瑪莉雅之吻
      .works_block
        .works_block_title_wrapper
          .works_block_title_cross ＋
          .works_block_title_name 瑪莉雅之吻
          pre.works_block_title_sort / 婦嬰清潔用品
        label
          input#switch(type="checkbox")
          .label_wrapper.brand_maria
            .works_block_content
              .works_block_content_title 包裝、型錄、ＤＭ、LOGO 設計
              .works_block_content_image_wrapper
                img.maria(src=require("./images/maria_1.png"))
                img.maria(src=require("./images/maria_2.png"))
                img.maria(src=require("./images/maria_3.png"))
                img.maria(src=require("./images/maria_4.png"))
                img.maria(src=require("./images/maria_5.png"))
                img.maria(src=require("./images/maria_6.png"))
                img.maria(src=require("./images/maria_7.png"))
                img.maria(src=require("./images/maria_8.png"))
                img.maria(src=require("./images/maria_9.png"))
                img.maria(src=require("./images/maria_10.png"))
                img.maria(src=require("./images/maria_11.png"))
                img.maria(src=require("./images/maria_12.png"))
                img.maria(src=require("./images/maria_13.png"))
                img.maria(src=require("./images/maria_14.png"))
                img.maria(src=require("./images/maria_15.png"))
                img.maria(src=require("./images/maria_16.png"))
                img.maria(src=require("./images/maria_17.png"))
                img.maria(src=require("./images/maria_18.png"))
                img.maria(src=require("./images/maria_19.png"))
                img.maria(src=require("./images/maria_20.png"))
                //- 偽圖片
                img.maria.fack_picture(src=require("./images/maria_20.png"))
          pre.works_more_button More
      //- 雅莉珊卓
      .works_block
        .works_block_title_wrapper
          .works_block_title_cross ＋
          .works_block_title_name 雅莉珊卓
          pre.works_block_title_sort / 身體洗淨系列用品
        label
          input#switch(type="checkbox")
          .label_wrapper.brand_alexandra
            .works_block_content
              .works_block_content_title 包裝設計
              .works_block_content_image_wrapper
                img(src=require("./images/alexandra_1.png"))
                img(src=require("./images/alexandra_2.png"))
                img(src=require("./images/alexandra_3.png"))
                img(src=require("./images/alexandra_4.png"))
                img(src=require("./images/alexandra_5.png"))
                img(src=require("./images/alexandra_6.png"))
                img(src=require("./images/alexandra_7.png"))
                img(src=require("./images/alexandra_8.png"))
                img(src=require("./images/alexandra_9.png"))
                //- 偽圖片
                img.fack_picture(src=require("./images/alexandra_9.png"))
                img.fack_picture(src=require("./images/alexandra_9.png"))
                img.fack_picture(src=require("./images/alexandra_9.png"))
                img.fack_picture(src=require("./images/alexandra_9.png"))
                img.fack_picture(src=require("./images/alexandra_9.png"))
          pre.works_more_button More
      //- 富盛豐
      .works_block
        .works_block_title_wrapper
          .works_block_title_cross ＋
          .works_block_title_name 富盛豐
          pre.works_block_title_sort / 洗淨系列品牌
        label
          input#switch(type="checkbox")
          .label_wrapper.brand_fu
            .works_block_content
              .works_block_content_title 官網 Banner 設計
              .works_block_content_image_wrapper.height
                img.fu(src=require("./images/fu_1.jpg"))
                img.fu(src=require("./images/fu_2.jpg"))
                img.fu(src=require("./images/fu_3.jpg"))
                img.fu(src=require("./images/fu_4.jpg"))
          pre.works_more_button More
    //- contact
    .contact.container
      .container_title Contact
      //- 下方三區塊
      .contact_container
        .contact_block
          img(src=require("./images/contact_icon_phone.svg"))
          pre.contact_block_text 0937 - 466 - 446
        .contact_block
          img(src=require("./images/contact_icon_mail.svg"))
          pre.contact_block_text unhunsowhat@gmail.com
        .contact_block
          img(src=require("./images/contact_icon_web.svg"))
          pre.contact_block_text github.com/KilluaZDK
      //- 底部 logo
      .contact_logo_wrapper
        img.contact_logo(src=require("./images/header_logo_illustration.svg"))
        img.contact_plane(src=require("./images/contact_plane.svg"))



